global
    maxconn           50000

defaults
    retries           3
    timeout connect   5s
    timeout client    50s
    timeout server    50s

frontend pos_frontend
    bind *:8080
    mode http
    default_backend pos_backend

backend pos_backend
    balance roundrobin
    mode http
    server pos1 pos1:8080
    server pos2 pos2:8080
    server pos3 pos3:8080
    server pos4 pos4:8080

# global
#  maxconn 5000

# defaults
#  retries 3
#  timeout client    50s
#  timeout server    50s

# frontend proxy
#  mode http
#  bind :8080
#  default_backend pos_backend

# backend pos_backend
#  mode http
#  server pos_1 pos_1:8080 check resolvers docker resolve-prefer ipv4
#  server pos_2 pos_2:8080 check resolvers docker resolve-prefer ipv4
#  server pos_3 pos_3:8080 check resolvers docker resolve-prefer ipv4
#  server pos_4 pos_4:8080 check resolvers docker resolve-prefer ipv4
